<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-body">
  
    <%= image_tag(@friend.photo.url, class: "img-thumbnail") if @friend.photo? %>
  
    <p>
      <strong>First name:</strong>
      <%= @friend.first_name %>
    </p>
    
    <p>
      <strong>Last name:</strong>
      <%= @friend.last_name %>
    </p>
    
    <p>
      <strong>Email:</strong>
      <%= @friend.email %>
    </p>
    
    <p>
      <strong>Phone:</strong>
      <%= @friend.phone %>
    </p>
    
    <p>
      <strong>Twitter:</strong>
      <%= @friend.twitter %>
    </p>

  #   <% if @friend.excel_file.attached? %>
  #   <h5>Excel Content:</h5>
  #   <%= render partial: 'excel_content', locals: { content: @excel_content } %>
  # <% else %>
  #   <p>No Excel file attached.</p>
  # <% end %>
    
    <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary" %> 
    <%= link_to 'Back', friends_path, class: "btn btn-dark" %>
  </div>
</div>
